/* add style attributes to table */
.styled-table {
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}
/* give color to table */
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}
/* style table header */
.styled-table th {
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}
/* style table rows */
.styled-table td {
  padding: 12px 15px;
  font-size: 1em;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  font-size: 1em;
  text-align: center;
  height: 100px;
}

/* differentiate between even/odd rows  */
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  font-size: 1em;
}
/* differentiate user input row  */
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
  font-size: 1em;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  font-size: 1em;
}

/* center class*/
.center {
  text-align: center;
}

/* add styling to ok and maybe inputs*/
.glyphicon-ok-sign {
  color: green;
}
.maybe {
  color: orange;
}
input[type="submit"] {
  background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* add styling row, columns  */
.row {
  display: flex;
  column-gap: 20px;
  justify-content: space-around;
}

.column {
  flex: 50%;
}
